
body {
    display: grid;
    grid-template-columns: 40% 60%;
}

/*---Left side (banner)---*/
.banner {
    height: 100vh;
    background-image: url(./images/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg);
    background-size: cover;
}

.banner-logo {
    background-color: rgba(65, 43, 25, 0.829);
    width: 100%;
    height: 70px;
    color: rgb(224, 159, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    top: 30%
}

.logo {
    height: 60px;
}

.banner-logo > span {
    font-size: 45px;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgba(109, 38, 10, 0.89);
    position: relative;
    top: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 35px;
    color:rgb(224, 159, 121);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

.made-by {
    font-family: 'pacifico', Arial, Helvetica, sans-serif;
    color: rgb(231, 152, 48);
}

/*---Rigth side log in*/

.log-in-section {
    height: 100vh;
    background: linear-gradient(60deg, rgb(150, 95, 58), rgb(117, 54, 3));
}

.caption-header {
    font-size: 45px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 3vw;
    color:rgba(230, 145, 34, 0.89);
    margin-top: 80px;
}


.caption-header > p {
    font-family: 'pacifico', Arial, Helvetica, sans-serif;
    color:rgb(224, 159, 121)
}

.caption {
    font-size: 30px;
    text-align: center;
}

hr {
    border: rgb(117, 46, 25) solid 1px;
}

form {
    margin-top: 15px;
}

fieldset {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 5vh;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    justify-content: center;
    border: none;
}

input[type="text"], input[type="telephone"], input[type="email"], input[type="password"] {
    width: 45px;
    margin: 0 auto;
    transition: width 0.3s ease-in-out;
    text-align: center;
    max-height: 25px;
    border-radius: 15px;
}

input[type="text"]:focus, input[type="telephone"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    width: 130px;
    color:rgb(117, 46, 25);
    font-size: 15px
}

label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

form {
    background-image: url(./images/mike-kenneally-tNALoIZhqVM-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    border: red solid 1px;
    margin: 10px;
}

button {
    width: 80px;
    height: 30px;
    margin: 15px;
    border: 1px black solid;
    border-radius: 15px;
    background-color: rgb(168, 136, 122);
}

.button-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"]:invalid, input[type="telephone"]:invalid, input[type="email"]:invalid, input[type="password"]:invalid {
    border: rgba(250, 4, 4, 0.897) solid 1px;
    background-color: rgb(161, 83, 69);
}

input[type="text"]:valid, input[type="telephone"]:valid, input[type="email"]:valid, input[type="password"]:valid {
    border: rgba(4, 250, 4, 0.897) solid 2.5px;
    background-color: rgb(123, 179, 123);
}

.have-account {
    text-align: left;
    margin: 15px;
    font-size: 20px;
    color: rgb(194, 148, 24);
    background-color: rgba(160, 56, 24, 0.658);
    border-radius: 20px;
    width: 360px;
    font-family: Arial, Helvetica, sans-serif;
}

a[href="#"] {

}


/*For mobiles*/
@media only screen and (max-width: 700px) {
    
    body {
        display: flex;
        flex-wrap: wrap;
    }

    footer {
        top: 60vh;
    }

    .banner {
        width: 100vw;
        padding-top: 30%;
    }

    .log-in-section {
        width: 100vw;
    }

    .banner-logo {
        z-index: 1;
        position: sticky;
        top: 5%;
    }

}