.banner {
    height: 100vhh;
    background-image: url(./images/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg);
    background-size: cover;
}

.banner-logo {
    background-color: rgba(65, 43, 25, 0.829);
    width: 100%;
    height: 70px;
    color: rgb(224, 159, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    top: 40%
}

.logo {
    height: 60px;
}

.banner-logo > span {
    font-size: 45px;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgba(109, 38, 10, 0.89);
    position: relative;
    top: 85.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 35px;
    color:rgb(224, 159, 121);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

.made-by {
    font-family: 'pacifico', Arial, Helvetica, sans-serif;
    color: rgb(231, 152, 48);
}

.log-in-section {
    height: 100vh;
    background-color: rgb(131, 78, 48);
}

body {
    display: grid;
    grid-template-columns: 40% 60%;
}